body{
    background-color: black;
    display: flex;
    flex-wrap: wrap;
}
.rightside{
    color: white;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
}
#hello, #happy{
    background-color: powderblue;
    width: 350px;
    height: 350px;
    padding: 50px;
    padding-top: 100px;
    text-align: center;
    margin: 10px;
    font-family:'Courier New', Courier, monospace;
    font-size: 40px;
    border: black solid 1px;
}
#hello{
    background-color: rgb(102, 99, 99);
}
#hello a{
    background-color: black;
    border: white solid 1px;
    color: white;
    text-decoration: none;
    padding: 10px;
}
#hello a:hover{
    border: orange solid 1px;
    color: orange;
}
hr{
    border-color: grey;
}
section{
    color: white;
    background-color: rgb(48, 46, 46);
    padding: 10px;
    height: 300px;
    margin: 10px;
}
img{
    display: block;
    float: left;
}
@media(min-width: 600px)
{
    section{
        height:300px;
    }
}
@media(max-width: 799px)
{
    section{
        height:400px;
    }
}
@media(max-width: 599px)
{
    section{
        height:500px;
    }
}